extends layout
block css
  link(rel='stylesheet', href='/bootstrap-daterangepicker/daterangepicker.css')
block js
  script(type='text/javascript', src='/moment/min/moment.min.js')
  script(type='text/javascript', src='/bootstrap-daterangepicker/daterangepicker.js')
  script(src='/javascripts/agendar.js')
  
block header
    include ./includes/header_nav.jade
    
block content
  .container
    .row
      .col-xs-12
        p.text-center= event.status
      .col-xs-12
        p.text-center= event.title
      .col-xs-12
        p.text-center= event.details
      .col-xs-12
        p.text-center= event.url
      .col-xs-12
        p.text-center= event.noAttendees + ' asistentes'         
      .col-xs-12
        p.text-center= moment(event.start).format('DD-MM-YYYY HH:mm') + ' - ' + moment(event.end).format('DD-MM-YYYY HH:mm')
      if (isAdminLogged && user != null && event.status == "pending")
        form(action="/agenda/finish-request",method="POST")  
          .col-xs-12.center-block.text-center
            .btn-group.inline
              button.btn.btn-success(name="action", value="accepted") Aceptar
              button.btn.btn-danger(name="action", value="rejected") Rechazar
          .col-xs-12.center-block.text-center
            textarea.form-control(name='comment')
